<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.dao.mybatis.mappers.CategoriaMapper">

    <resultMap id="CategoriaResult" type="Categoria">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
        <result property="fechacreacion" column="fechacreacion"/>
        <result property="estado" column="estado"/>
        <result property="fechamodificacion" column="fechamodificacion"/>
    </resultMap>

    <!--registrarCategoria-->
    <insert parameterType="map" id="registrarCategoria">
        INSERT INTO categoria (nombre,descripcion)
        VALUES (#{categoria.nombre},#{categoria.descripcion})
    </insert>

    <!--actualizarCategoria-->
    <update parameterType="map" id="actualizarCategoria">
        update categoria set nombre=#{newNombre}, descripcion=#{newDescripcion}, estado=#{newEstado}, fechamodificacion=current_date
        WHERE nombre=#{oldNombre}
    </update>

    <!--verificarCategoria-->
    <select id="verificarCategoria" parameterType="map" resultMap="CategoriaResult">
        SELECT * 
        FROM categoria
        WHERE nombre=#{oldnombre}
    </select>
        <!--Consultar categorias-->
        <select id="consultarCategorias" parameterType="map" resultMap="CategoriaResult">
            SELECT * 
            FROM categoria
        </select>

</mapper>