<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.dao.mybatis.mappers.CategoriaMapper">

    <resultMap id="CategoriaResult" type="Categoria">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
        <result property="fechacreacion" column="fechacreacion"/>
        <result property="estado" column="estado"/>
        <result property="fechamodificacion" column="fechamodificacion"/>
        <result property="esValido" column="esValido"/>
        <result property="descripcionInvalida" column="descripcionInvalida"/>
    </resultMap>

    <!--registrarCategoria-->
    <insert parameterType="map" id="registrarCategoria">
        INSERT INTO categoria (nombre,descripcion,esValido,descripcionInvalida)
        VALUES (#{categoria.nombre},#{categoria.descripcion},#{categoria.esValido},#{categoria.descripcionInvalida})
    </insert>

    <!--actualizarCategoria-->
    <update parameterType="map" id="actualizarCategoria">
        update categoria set nombre=#{newNombre}, descripcion=#{newDescripcion}, estado=#{newEstado}, fechamodificacion=current_date
        WHERE nombre=#{oldNombre}
    </update>

    <!--verificarCategoria-->
    <select id="verificarCategoria" parameterType="map" resultMap="CategoriaResult">
        SELECT * 
        FROM categoria
        WHERE nombre=#{oldnombre}
    </select>       

    <!--Consultar categorias-->
    <select id="consultarCategorias" parameterType="map" resultMap="CategoriaResult">
        SELECT *
        FROM categoria where esvalido = true;
    </select>

    <!--Consultar categorias-->
    <select id="consultarCategoriasV" parameterType="map" resultMap="CategoriaResult">
        SELECT *
        FROM categoria
    </select>

    <!--Consultar categoria-->
    <select id="consultarCategoria" parameterType="map" resultMap="CategoriaResult">
        SELECT *
        FROM categoria
        WHERE id = #{categoriaId}
    </select>
    
    <!-- Eliminar categoria-->
    <delete id="eliminarCategoria" parameterType="map">
        DELETE FROM categoria WHERE nombre = #{dnombre}
    </delete>

</mapper>
