<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.dao.mybatis.mappers.NecesidadesMapper">
    <resultMap id="NeedsResult" type="Necesidad">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
        <result property="estado" column="estado"/>
        <result property="fechacreacion" column="fechacreacion"/>
        <result property="fechamodificacion" column="fechamodificacion"/>
        <result property="categoriaId" column="categoriaId"/>
        <result property="urgencia" column="urgencia"/>
        <result property="idsolicitante" column="solicitante"/>
    </resultMap>

    <insert parameterType="map" id="agregarNecesidades">
        insert into necesidades (nombre,descripcion,estado,fechacreacion,fechamodificacion,categoriaId,urgencia,solicitante) values(#{necesidad.nombre},#{necesidad.descripcion},#{necesidad.estado},current_date,current_date,#{necesidad.categoriaId},#{necesidad.urgencia},#{necesidad.idsolicitante})
    </insert>

    <select parameterType="map" id="consultar" resultMap="NeedsResult">
        select *
        FROM necesidades
        WHERE nombre=#{name}
    </select>

    <select parameterType="map" id="consultarNecesidadesAsociadas" resultMap="NeedsResult">
        select *
        FROM necesidades
        WHERE solicitante=#{solicitante}
    </select>

    <select parameterType="map" id="consultarNecesidades" resultMap="NeedsResult">
        select *
        FROM necesidades
    </select>

    <update id="actualizarEstadoNecesidad" parameterType="map">
        UPDATE necesidades SET estado=#{estado}
        WHERE nombre=#{nombre} and solicitante=#{solicitante}
    </update>
    <select parameterType="map" id="consultarNecesidadCategorias" resultMap="NeedsResult">
        select *
        FROM necesidades
        WHERE categoriaid=#{categoria}
    </select>


    </mapper>