<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.dao.mybatis.mappers.OfertasMapper">
    <resultMap id="OfertasResult" type="Ofertas">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
        <result property="estado" column="estado"/>
        <result property="fechacreacion" column="fechacreacion"/>
        <result property="fechamodificacion" column="fechamodificacion"/>
        <result property="categoriaId" column="categoriaId"/>
        <result property="solicitanteId" column="solicitanteId"/>
    </resultMap>

    <insert id="agregarOferta" parameterType="map">
        INSERT INTO Ofertas(nombre,descripcion,estado,fechacreacion,fechamodificacion,categoriaId,solicitanteId) VALUES(#{oferta.nombre},#{oferta.descripcion},#{oferta.estado},current_date,current_date,#{oferta.categoriaId},#{oferta.solicitanteId})
    </insert>

    <select parameterType="map" id="verificarOferta" resultMap="OfertasResult">
        SELECT *
        FROM Ofertas
        WHERE nombre=#{oldnombre}
    </select>

    <select parameterType="map" id="ofertasporUsuario" resultMap="OfertasResult">
        SELECT *
        FROM Ofertas
        WHERE solicitanteId=#{solicitanteId}
    </select>

    <update id="actualizarEstadoOferta" parameterType="map">
        UPDATE Ofertas SET estado = #{estado}
        WHERE nombre = #{nombre} and solicitanteId=#{solicitanteId}
    </update>

    <select parameterType="map" id="consultarOfertas" resultMap="OfertasResult">
        SELECT *
        FROM Ofertas
    </select>

    <select parameterType="map" id="consultarOfertasCategorias" resultMap="OfertasResult">
        SELECT * 
        FROM Ofertas
        WHERE categoriaId = #{categoria}
    </select>
    
</mapper>