<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.dao.mybatis.mappers.RespuestasMapper">
    <resultMap id="RespuestasResult" type="Respuesta">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="comentario" column="comentario"/>
        <result property="fechacreacion" column="fechacreacion"/>
        <result property="ofertaid" column="ofertaid"/>
        <result property="necesidadid" column="necesidadid"/>
        <result property="remitente" column="remitente"/> 
    </resultMap>
    
    <select parameterType="map" id="consultarRespuestas" resultMap="RespuestasResult">
        select * from respuestas
    </select>

    <select parameterType="map" id="consultarRespuesta" resultMap="RespuestasResult">
        SELECT *
        FROM Respuestas
        WHERE id = #{id}
    </select>

    <insert parameterType="map" id="registrarRespuestaOferta">
        INSERT INTO respuestas (nombre,comentario,ofertaid,remitente)
        VALUES (#{respuesta.nombre},#{respuesta.comentario},#{respuesta.ofertaid},#{respuesta.remitente})
    </insert>

    <insert parameterType="map" id="registrarRespuestaNecesidad">
        INSERT INTO respuestas (nombre,comentario,necesidadid,remitente)
        VALUES (#{respuesta.nombre},#{respuesta.comentario},#{respuesta.necesidadid},#{respuesta.remitente})
    </insert>
</mapper>