<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.dao.mybatis.mappers.RolesMapper">
    <resultMap id="RolResult" type="Rol">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="limiteSolicitudes" column="limiteSolicitudes"/>
    </resultMap>
    
    <select parameterType="map" id="consultarRol" resultMap="RolResult">
        SELECT *
        FROM Roles WHERE id=#{id}
    </select>
    <select parameterType="map" id="consultarRolN" resultMap="RolResult">
        SELECT *
        FROM Roles WHERE nombre=#{name}
    </select>

    <update id="actualizarLimites" parameterType="map">
        UPDATE Roles SET limitesolicitudes=#{limiteN},limiteofertas=#{limiteO}
        WHERE nombre = #{name}
    </update>

</mapper>