body{
    background-image: url("https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: 100%;
    background-repeat: no-repeat;
    align-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(24,120,133,1);
    font-size: 25px;
    font-family:sans-serif;
}
.titulo{
 text-shadow: 5px 5px 5px #000000;
}
.subtitulo{
 text-shadow: 3px 3px 3px #000000;
 color: white;
 font-family: MedievalSharp;
}
.subtitulo1{
 text-shadow: 3px 3px 3px #000000;
 color: rgba(255,3,61,1);
 font-family: MedievalSharp;
}
.subtitulo2{
 color: rgba(0,0,0,1);
 font-family: MedievalSharp;
}
.form{
  display:flex;
  text-align: center;
  flex-direction:column;
  width: 30%;
  align-items: center;
  height: auto;
  text-shadow: 2px 2px 2px #000000;
  background: linear-gradient(150deg, #eba102, #f10271, #00c298);
  font-size:12px;
  padding:15px;
  border-radius: 15px;
}
.formnecesidad{
  table-layout:fixed;
  font-size:15px;
  font-family: 'Times New Roman', serif;
}
.heightletra{
  font-size:6px;
}
.but{
  margin: 15px;
  font-size:10px;
  width:100px;
  height:30px;
  border-radius: 15px;
  border:none;
  font-family:sans-serif;
  font-size: medium;
}
.inpu{
  width: 30%;
  height: 38px;
  border-radius: 2px;
  background-color: white;
}
.card-categoria{
  position: absolute;
  top: 50%;
  left: 50%;
  font: small-caps 100%/200% serif;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color:  #b480c1 ;
  color:#eeeeee;
  border-radius: 15px;
}
.p-field{
 margin: 5% 10%;
}
.b-categoria{
 position: fixed;
 right: 30px;
 bottom: 30px;
 background: #eb94d0;
 background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
   background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
   background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
   background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
   background-image: linear-gradient(to bottom, #eb94d0, #2079b0);

   -webkit-border-radius: 28;
     -moz-border-radius: 28;
     border-radius: 28px;
   text-shadow: 3px 2px 1px #9daef5;
     -webkit-box-shadow: 6px 5px 24px #666666;
     -moz-box-shadow: 6px 5px 24px #666666;
     box-shadow: 6px 5px 24px #666666;
   font-family: Arial;
     color: #fafafa;
     font-size: 27px;
     padding: 19px;
     text-decoration: none;

     background: #2079b0;
       background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
       background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
       background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
       background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
       background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
       text-decoration: none;
}
