.tag{
    background: linear-gradient(150deg, #87B2E0, #B8C6FA, #87B2E0);
    color:#eeeeee;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    width:80%;
    margin:10px;
}
.link{
    font-size: 20px;
    color:lime;
    text-decoration: none;
    margin: 15px;
}
